* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top-bar {
  display: flex;
  background-color: rgb(66, 103, 178);
  justify-content: space-around;
}

.top-bar-content {
  display: flex;
  width: 800px;
}


































.main-content {
  display: flex;
  flex-direction: column;
}